/******************************************* universal */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: "Scada", sans-serif;
}

.center h2 {
  margin: 5px 0px;
  font-size: 1.7em;
}

.custom-btn {
  font-weight: 700;
}

#hrMovieDetails,
.hr-admin {
  margin: 20px 20px 30px;
  border-color: black;
}

.flash_messages {
  color: red;
  margin: 15px 0px 5px 0px;
}

/******************************************* top nav */

#navTitle {
  font-size: 1.5em;
  margin: 0px;
  font-weight: bold;
}

.top-nav-links {
  display: none;
}

nav {
  height: 3.5em;
}

.fas.fa-bars {
  font-size: 2em;
  margin: 10px 0px 0px 10px;
  cursor: pointer;
}

.fas.fa-times {
  padding: 5px 10px 0px 0px;
}

.fas.fa-times {
  font-size: 2rem;
  padding: 5px 5px 0px 0px;
}

/******************************************* side nav */

.sidenav {
  width: 235px;
}

.side-nav-links.black-text.waves-effect {
  padding: 0px 0px 0px 10px;
}

#sideNavLinksContainer {
  margin-top: 200px;
}

.sidenav li > a:hover {
  background-color: rgba(255, 192, 203, 0.473);
}

.side-nav-links.black-text.waves-effect {
  font-size: 2rem;
  margin-top: 50px;
}

/******************************************* footer */

body {
  position: relative;
  padding-bottom: 150px;
  min-height: 100vh;
}

#socials {
  position: absolute;
  bottom: 0;
  height: 9rem;
  width: 100%;
}

#icons {
  padding: 0px;
  text-align: center;
}

#icons i {
  margin-right: 0.6em;
  font-size: 1em;
}

#contacts {
  padding: 0;
}

#contacts p {
  font-size: 1.1em;
}

#socials .row {
  margin-bottom: 0px;
}

/******************************************* homepage */

div.carousel {
  margin-bottom: 5em;
  height: 450px;
}

.carousel .carousel-item > img {
  width: 145%;
}

.carousel .indicators .indicator-item {
  width: 1em;
  height: 1em;
  background-color: pink;
}

.carousel .indicators .indicator-item:hover {
  width: 1.5em;
  height: 1.5em;
}

.carousel .indicators .indicator-item.active {
  background-color: palevioletred;
}

div.carousel,
#image,
#movieDetails,
#reviews {
  border: 0.5rem solid pink;
}

#image,
#movieDetails {
  height: 20rem;
}

div.carousel,
#movieDetails,
#reviews {
  background-color: lavenderblush;
}

#movieDetails,
#reviews {
  padding: 0px 0px 5px 5px;
  overflow: auto;
}

#image {
  width: 95%;
  border-right: none;
}

#reviews {
  height: 10rem;
}

#movieDetails p,
#reviews p {
  font-size: 1rem;
  padding-left: 1%;
}

#reviews h5 {
  margin: 5px 0px 10px;
  font-size: 2rem;
}

.comments-break {
  margin-bottom: 3%;
}

.image-and-details .col {
  padding: 0px;
}

.image-and-details .row {
  margin: 0% 1% 3%;
}

/******************************************* signup/login */

.signup h2,
.login h2 {
  margin-top: 15px;
}

.card {
  margin: 1em 0em 0em;
}

div.center {
  font-size: 2rem;
}

label.black-text {
  font-size: 1.15rem;
}

input#email,
input#username,
input#password {
  border-bottom: 1px solid black;
}

/******************************************* my bookings */

.booked-details p {
  font-size: 0.7em;
  margin-bottom: 5px;
}

.margin-removal h4 {
  margin-top: 0px;
}

.margin-removal {
  margin-bottom: 0px;
}

/******************************************* each modals */
.modal {
  width: 95%;
}

.form-item label {
  color: black;
  font-size: 1.2rem;
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Scada", sans-serif;
}

/******************************************* homepage modal */

.datepicker-cancel,
.datepicker-done,
.datepicker-table td.is-selected,
.dropdown-content li > a,
.dropdown-content li > span,
.datepicker-clear,
.datepicker-date-display .year-text,
.datepicker-table abbr,
.datepicker-date-display .date-text {
  color: black;
}

.datepicker-clear,
.datepicker-cancel,
.datepicker-done,
.datepicker-date-display,
.datepicker-table td.is-selected {
  background-color: pink;
}

.dropdown-content li > a,
.dropdown-content li > span {
  padding: 0px 0px 0px 16px;
  font-size: 1.24rem;
}

.datepicker-modal {
  max-height: 29em;
}

.datepicker-date-display {
  padding: 5px 20px 10px;
}

.datepicker-calendar-container {
  color: purple;
}

.datepicker-footer {
  padding-bottom: 0px;
}

.is-today {
  color: palevioletred !important;
}

.datepicker-clear,
.datepicker-cancel,
.datepicker-done {
  margin: 2px 2px 0px 10px;
  font-weight: 900;
}

.select-wrapper input.select-dropdown {
  font-size: 1.3em;
}

.select-wrapper.select-month {
  font-size: 0.9em;
}

input.select-dropdown.dropdown-trigger {
  width: 100%;
}

/******************************************* leave a review modal */

.my-booking-custom .select-wrapper input.select-dropdown {
  font-size: 0.8em;
}

#commentBox {
  height: 8em;
  padding: 5px;
  font-size: 1rem;
}

.confirm-btn {
  margin-right: 2rem;
}

.cancel-btn {
  margin-left: 2rem;
}

/******************************************* confirmation modal */
.red {
  margin: 25px 35px 0px 0px;
}
.green {
  margin: 25px 0px 0px 35px;
}

/******************************************* face rating */

[type="radio"]:not(:checked),
[type="radio"]:checked {
  opacity: 1;
}

.fas.fa-angry,
.fas.fa-frown,
.fas.fa-meh,
.fas.fa-smile,
.fas.fa-grin-alt {
  font-size: 3rem;
  cursor: pointer;
}

.fas.fa-angry:hover,
.fas.fa-frown:hover,
.fas.fa-meh:hover,
.fas.fa-smile:hover,
.fas.fa-grin-alt:hover {
  font-size: 3.1rem;
}

.fas.fa-angry {
  color: red;
}

.fas.fa-frown {
  color: orange;
}

.fas.fa-meh {
  color: yellow;
}

.fas.fa-smile {
  color: lightgreen;
}

.fas.fa-grin-alt {
  color: green;
}

/******************************************* admin */

#admin-title {
  font-size: 1.6em;
}

#ratings-header-padding {
  padding-top: 15em;
}

.admin-images {
  width: 10em;
}

/****************************************************************************************************** BREAKPOINTS from bootstrap */
@media (min-width: 576px) {
  /******************************************* top nav */

  .fas.fa-bars {
    font-size: 3em;
    margin: 0.3em 0em 0em 0.5em;
  }

  #navTitle {
    font-size: 2.2em;
  }

  nav {
    height: 5em;
  }

  /******************************************* footer */

  footer#socials {
    height: 95px;
    padding-top: 5px;
  }

  #icons {
    margin-top: 0.2em;
  }

  #icons i {
    margin-right: 0.9em;
    font-size: 1.1em;
  }

  #contacts {
    margin-top: 0.2em;
  }

  #contacts p {
    font-size: 1.2em;
  }

  /******************************************* signup/login */
  .card {
    margin: 10px 50px;
  }

  .card label {
    font-size: 1.6em;
  }

  .card .card-content {
    padding: 24px 24px 10px 24px;
  }

  /******************************************* homepage */

  #image,
  #movieDetails {
    height: 30rem;
    width: 100%;
  }

  #movieDetails p,
  #reviews p {
    font-size: 1.6rem;
  }

  #reviews {
    height: 20rem;
  }

  .image-and-details .row {
    margin: 0% 5% 3%;
  }

  /******************************************* modals */

  .fas.fa-times {
    padding: 5px 10px 0px 0px;
  }

  .modal {
    width: 75%;
  }

  .change-booking-custom .select-wrapper input.select-dropdown,
  .form-item label {
    font-size: 1.4em;
  }

  input[type="number"]:not(.browser-default),
  input[type="text"]:not(.browser-default) {
    font-size: 1.4em;
  }

  .confirm-btn {
    margin-right: 4rem;
  }

  .cancel-btn {
    margin-left: 4rem;
  }

  .red {
    margin: 0px 50px 0px 0px;
  }

  .green {
    margin: 0px 0px 0px 50px;
  }

  .confirm-delete {
    width: 60%;
  }
}

@media (min-width: 768px) {
  /******************************************* footer */
  footer#socials {
    height: 100px;
  }

  #icons i {
    font-size: 1.3em;
    margin-right: 45px;
  }

  #contacts p {
    font-size: 1.4em;
  }

  /******************************************* signup/login */
  .signup h2,
  .login h2 {
    margin: 35px 0px;
  }

  /******************************************* homepage */

  #image,
  #movieDetails {
    height: 35rem;
  }

  #movieDetails p,
  #reviews p {
    font-size: 2rem;
  }

  .image-and-details h5,
  #reviews h5 {
    font-size: 2.5rem;
  }

  .custom-btn {
    font-weight: 600;
    font-size: 1em;
  }

  .image-and-details .row {
    margin: 0% 10% 3%;
  }

  /******************************************* modals */

  #commentBox {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  /******************************************* top nav */
  .fas.fa-bars {
    display: none;
  }

  #topNavLinksContainer {
    float: right;
    margin-top: 5px;
  }

  .top-nav-links {
    display: flex;
    margin-right: 1rem;
    font-size: 2.5rem;
  }

  .top-nav-links:hover {
    background-color: rgba(255, 192, 203, 0.473);
  }

  #home {
    margin-left: 3em;
  }

  /******************************************* footer */

  footer#socials {
    height: 106px;
    padding-top: 0px;
  }

  #icons i {
    font-size: 1.5em;
  }

  #contacts p {
    font-size: 1.5em;
  }

  /******************************************* homepage */

  #reviews {
    height: 25rem;
  }

  .image-and-details .row {
    margin: 0% 12% 3%;
  }

  /******************************************* signup/login */
  .card {
    margin: 10px 190px;
    height: 20em;
  }

  .signup.card {
    height: 26em;
  }

  .custom-btn {
    margin-top: 0.8em;
  }

  /******************************************* modals */
  .modal .modal-content {
    padding: 24px 24px 11px 24px;
  }

  .modal {
    width: 60%;
  }

  .custom-btn {
    margin: 0em;
  }

  div.modal-content.datepicker-container {
    padding: 0px;
  }

  .datepicker-modal {
    width: 35em;
  }

  .confirm-btn {
    margin-right: 6rem;
  }

  .cancel-btn {
    margin-left: 6rem;
  }

  .red {
    margin: 0px 50px 0px 0px;
  }

  .green {
    margin: 0px 0px 0px 50px;
  }

  .confirm-delete.modal {
    width: 50%;
  }

  .confirm-delete .custom-btn {
    margin: 25px 40px 10px 40px;
  }

  /******************************************* my bookings */

  .booked-details p {
    font-size: 1em;
  }
}

@media (min-width: 993px) {
  /******************************************* admin */

  #ratings-header-padding {
    padding-top: 15px;
    padding-right: 1em;
  }
}

@media (min-width: 1200px) {
  /******************************************* top nav */

  #home {
    margin-left: 12em;
  }

  /******************************************* footer */

  #socials .row {
    margin-top: 2px;
  }

  footer#socials {
    height: 115px;
  }

  /******************************************* signup/login */
  .card {
    margin: 10px 290px;
  }

  .custom-btn {
    margin-top: 1em;
  }

  /******************************************* homepage */

  #image,
  #movieDetails {
    height: 45rem;
  }

  #reviews {
    height: 25rem;
  }

  .image-and-details h5,
  #reviews h5 {
    font-size: 3.5rem;
  }

  #movieDetails p,
  #reviews p {
    font-size: 3rem;
  }

  .image-and-details .row {
    margin: 0% 15% 3%;
  }

  /******************************************* modals */
  .modal-overlay {
    height: 135%;
  }
  .change-booking-custom.modal,
  .my-booking-custom.modal {
    width: 55%;
  }

  .change-booking-custom .modal-content {
    padding: 0px 24px;
  }

  .change-booking-custom h4,
  .my-booking-custom h4 {
    margin-bottom: 0px;
  }

  .confirm-btn {
    margin-right: 8rem;
    margin-bottom: 0.2rem;
  }

  .cancel-btn {
    margin-left: 8rem;
    margin-bottom: 0.2rem;
  }

  #commentBox {
    margin-top: 0.8em;
    height: 8.3em;
  }
}
