/* universal properties */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: "Scada", sans-serif;
}

/************************************************************************* top nav */
/* styles nav title */
#navTitle {
  font-size: 3rem;
  display: inline;
  margin: 0px;
  font-weight: bold;
}

/* designs link pages in top nav */
.top-nav-links {
  display: none;
}

/* top nav size */
nav {
  height: 55px;
}

/* bars button */
.fas.fa-bars {
  font-size: 2rem;
  margin: 11px 0px 0px 5px;
  cursor: pointer;
}

/************************************************************************* side nav */
/* increases size of side nav */
.sidenav {
  width: 230px;
}

/* pushes side nav links to the left */
.side-nav-links.black-text.waves-effect {
  padding: 0px 0px 0px 10px;
}

/* centers side nav links */
#sideNavLinksContainer {
  padding-top: 170px;
}

/* changes hover colour of sidenav */
.sidenav li > a:hover {
  background-color: rgb(180, 180, 3);
}

/* designs link pages in side nav*/
.side-nav-links.black-text.waves-effect {
  font-size: 2rem;
  margin-top: 30px;
}

/************************************************************************* footer */
/* helps keeps footer down */
body {
  position: relative;
  padding-bottom: 150px;
  min-height: 100vh;
}

/* stlyes footer background */
#socials {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 100px;
}

/* styles icons */
#icons {
  font-size: 1.5rem;
  padding: 0px;
  text-align: center;
}

/* styles contact details */
#contacts {
  padding: 0px;
  text-align: center;
  font-size: 1rem;
}

/* removes bottom gap */
#socials .row {
  margin-bottom: 0px;
}

/************************************************************************* flash messages */
/* styles flash messages */
.flash_messages {
  color: red;
}

/************************************************************************* hr border line */
/* styles hr line for bookings and home page */
.hr-line {
  border-color: grey;
  margin: 0px 50px;
}

/************************************************************************* homepage *************************************************************************/
/* styles movies title */
h2.center {
  margin-top: 5px;
  margin-bottom: 5px;
}

/************************************************************************* modals *************************************************************************/

/* moves ticket quantity title to the left */
.input-field.col label {
  left: 0rem;
}

/* styles close button */
.fas.fa-times {
  font-size: 2rem;
  padding: 5px 5px 0px 0px;
}

/* spaces out all modal contents */
.modal-titles,
.flip-stars {
  margin-bottom: 15px;
}

/* styles modal titles */
.modal-titles,
.form-item label {
  color: black;
}
.form-item label {
  font-size: 1.2rem;
}

/* improves size of modals */
@media only screen and (max-width: 992px) {
  .modal {
    width: 95%;
  }
}

/* improves size of 'are you sure' modal */
@media only screen and (max-width: 992px) {
  #modal3 {
    width: 90%;
  }
}

/* spaces out yes and no buttons */
.red {
  margin: 25px 35px 0px 0px;
}
.green {
  margin: 25px 0px 0px 35px;
}

/************************************************************************* dropdowns */
/* keeps font type of select input titles same as the website */
input.select-dropdown.dropdown-trigger {
  font-family: "Scada", sans-serif;
}

/* makes modal's dropdown text colour match website */
.dropdown-content li > a,
.dropdown-content li > span {
  color: black;
  font-size: 1.24rem;
  padding: 0px 16px;
}

/* increases comment box modal size and displays text cursor */
#commentBox {
  height: 100px;
  padding: 5px;
  font-size: 1rem;
}

/************************************************************************* stars */
/* removes radio buttons */
.radio-btn {
  display: none;
}

/* shows correct number of hovered stars */
.flip-stars {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* styles average score stars */
.star-average .fas.fa-star {
  font-size: 3rem;
}

/* styles modal stars */
.star {
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

/* styles correct number of stars when hovered */
.star:hover,
.star:hover ~ label {
  color: yellow;
  transition: all 0.1s;
}

/* styles stars as they're clicked */
.radio-btn:checked ~ .star:before {
  color: yellow;
}

/* styles stars when five is selected */
input.five-stars:checked ~ .star:before {
  color: yellow;
  text-shadow: 1px 1px 30px black;
}

/************************************************************************* datepicker */
/* styles datepicker banner */
.datepicker-date-display {
  background-color: yellow;
  padding: 5px 22px 15px 22px;
}

/* styles year date, days, full-er date on datepicker banner */
.datepicker-date-display .year-text,
.datepicker-table abbr,
.datepicker-date-display .date-text {
  color: black;
}

/* changes colour of number dates under the day letters */
.datepicker-calendar-container {
  color: darkgray;
  font-weight: bolder;
}

/* styles circle backgrounds on datepicker */
.datepicker-table td.is-selected {
  background-color: yellow;
  color: black;
}

/* changes font colour of current day */
.is-today {
  color: goldenrod !important;
}

/* styles cancel and select buttons on datepicker */
.datepicker-cancel,
.datepicker-today,
.datepicker-done {
  color: black;
}

/* styles buttons on datepicker */
.datepicker-clear,
.datepicker-cancel,
.datepicker-today,
.datepicker-done {
  font-family: "Scada", sans-serif;
  background-color: yellow;
  margin: 2px;
  font-weight: 900;
}

/************************************************************************* signup and login *************************************************************************/

/* styles content under its card */
div.center {
  font-size: 2rem;
}

/* styles labels */
label.black-text {
  font-size: 1.15rem;
}

/* styles input boxes */
input#email,
input#username,
input#password {
  border-bottom: 1px solid black;
}

/************************************************************************* my bookings *************************************************************************/

/* styles booking text */
.booked-details {
  font-size: 1.1rem;
  padding: 0px;
}

/* styles all 3 my_booking buttons */
.change-btn,
.delete-btn,
.leave-a-review-btn {
  font-weight: bolder;
}

/* spaces out chang and delete buttons from each other */
.change-btn,
.delete-btn {
  margin: 15px 0px;
}

/************************************************************************* changing booking */
/* narrows form */
#changeForm {
  margin: 0px 1rem;
}

/* makes confirm button font consistent */
.confirm {
  font-family: "Scada", sans-serif;
}

/************************************************************************* BREAKPOINTS *************************************************************************/

/* Bootstrap: Small devices */
@media (min-width: 576px) {
  /* homepage */

  #movieDetails h5,
  #reviews h5,
  #cast h5 {
    margin: 5px 0px 10px;
  }

  #image {
    padding-left: 0px;
    padding-right: 0px;
    width: 40%;
    margin: 10px 0px 15px 15px;
    height: 305px;
  }

  #movieDetails {
    border: 2px solid orange;
    border-radius: 4px;
    margin: 10px 15px 0px;
    overflow: auto;
    height: 200px;
    padding: 0px 0px 0px 5px;
    width: 250px;
  }

  #cast {
    border: 2px solid yellow;
    border-radius: 10px;
    margin: 15px;
    padding: 0px 0px 0px 5px;
  }

  #reviews {
    border: 2px solid purple;
    border-radius: 5px;
    height: 150px;
    overflow: auto;
    padding: 0px 0px 0px 5px;
  }

  #movieDetails p,
  #cast p,
  #reviews p {
    font-size: 15px;
  }

  #hrMovieDetails {
    margin: 0px 20px 30px;
    border-color: black;
  }

  /* top nav */
  /* styles nav title */
  #navTitle {
    font-size: 5rem;
  }

  /* top nav size */
  nav {
    height: 6rem;
  }

  /* bars button */
  .fas.fa-bars {
    font-size: 5rem;
    margin-top: 5px;
  }

  /************************************************************************* modals */
  /* provides space around form contents */
  .modal .modal-content {
    padding: 0px 20px 20px 20px;
  }

  /* improves size of 'are you sure' modal */
  @media only screen and (max-width: 992px) {
    #modal3 {
      width: 60%;
    }
  }

  /* submit button */
  .booking-btn {
    font-weight: 645;
    margin-top: 20px;
  }

  /************************************************************************* my bookings */

  /* styles booking text */
  .booked-details {
    font-size: 2rem;
  }

  /* styles movie titles */
  .movie-titles {
    font-size: 4rem;
  }

  /* spaces out chang and delete buttons from each other */
  .change-btn,
  .delete-btn {
    margin: 35px 0px;
  }
  /************************************************************************* datepicker */
  /* styles buttons on datepicker */
  .datepicker-clear,
  .datepicker-cancel,
  .datepicker-today,
  .datepicker-done {
    margin: 5px;
  }

  /* fills datepicker better in modal */
  .modal-content.datepicker-container {
    padding: 0px;
  }
}

/* accommodate materialize */
@media (min-width: 601px) {
  /************************************************************************* footer */
  /* stlyes footer background */
  #socials {
    height: 120px;
  }

  /* styles icons */
  #icons {
    font-size: 2rem;
    margin-top: 35px;
  }

  /* styles contacts */
  #contacts {
    margin-top: 10px;
    font-size: 1.3rem;
  }
}

/* Bootstrap: Medium devices  */
@media (min-width: 768px) {
  /************************************************************************* carousel */
  /* stlyes movie pictures and review box for review section */
  .review-pictures,
  #review-box {
    height: 30rem;
  }

  /************************************************************************* reviews */
  /* booking button */
  .booking-btn {
    font-size: 2rem;
  }

  /************************************************************************* my bookings */
  /* spaces out chang and delete buttons from each other */
  .change-btn,
  .delete-btn {
    margin: 30px 0px;
  }

  /************************************************************************* changing booking */
  /* narrows form */
  #changeForm {
    margin: 0px 5rem;
  }

  /************************************************************************* modals */
  /* improves size of 'are you sure' modal */
  @media only screen and (max-width: 992px) {
    #modal3 {
      width: 50%;
    }
  }
}

/* Bootstrap: Large devices */
@media (min-width: 992px) {
  /************************************************************************* top nav */

  /* styles nav title */
  #navTitle {
    font-weight: bold;
  }

  /* bars button */
  .fas.fa-bars {
    display: none;
  }

  /* displays top nav links */
  #topNavLinksContainer {
    float: right;
    margin-top: 10px;
  }

  /* designs link pages in top nav */
  .top-nav-links {
    display: flex;
    margin-right: 1rem;
    font-size: 2.5rem;
  }
  .top-nav-links:hover {
    background-color: rgba(180, 180, 3, 0.466);
  }

  /* increases size of user reviews */
  #review-box p {
    font-size: 1.5rem;
  }
  /************************************************************************* reviews */
  /* styles user review titles */

  .user-review-title {
    font-size: 1.5rem;
  }

  /************************************************************************* modals */
  /* improves size of 'are you sure' modal */
  @media only screen and (max-width: 992px) {
    #modal3 {
      width: 40%;
    }
  }

  /* spaces out yes and no buttons */
  .red,
  .green {
    margin-bottom: 40px;
  }

  /************************************************************************* footer */
  /* stlyes footer background */
  #socials {
    height: 130px;
  }

  /* styles icons */
  #icons {
    font-size: 2.4rem;
    margin-top: 40px;
  }

  /* styles contacts */
  #contacts {
    margin-top: 15px;
    font-size: 1.6rem;
  }
}

/* Bootstrap: Extra large devices */
@media (min-width: 1200px) {
  /************************************************************************* top nav */

  /* stlyes movie pictures and review box for review section */
  .review-pictures,
  #review-box {
    height: 40rem;
  }
  /************************************************************************* my bookings */
  /* spaces out chang and delete buttons from each other */
  .change-btn,
  .delete-btn {
    margin: 25px 0px;
  }

  /************************************************************************* changing booking */
  /* narrows form */
  #changeForm {
    margin: 0px 7rem;
  }
}
