/* universal properties */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: "Scada", sans-serif;
}

/* helps keeps footer down */
body {
  position: relative;
  padding-bottom: 100px;
}

/************************************************************************* title */
/* styles main title */
#mainTitle {
  font-size: 3rem;
  text-align: center;
  margin: 0px;
}

/************************************************************************* top nav */

/* designs link pages in top nav */
.top-nav-links {
  display: none;
}

/* top nav size */
nav {
  height: 9%;
}

/* bars button */
.fas.fa-bars {
  font-size: 2rem;
  margin: 11px 0px 0px 5px;
}

/************************************************************************* side nav */

/* centers side nav links in side nav */
#sideNavLinksContainer {
  padding-top: 100px;
}

/* changes hover colour of sidenav */
.sidenav li > a:hover {
  background-color: rgb(180, 180, 3);
}

/* designs link pages in side nav*/
.side-nav-links.black-text.waves-effect {
  font-size: 2rem;
  margin-top: 30px;
}

/* increases size of side nav */
.sidenav {
  width: 220px;
}

/************************************************************************* footer*/

/* stlyes footer background */
#socials {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 100px;
}

/* styles icons */
#icons {
  font-size: 1.5rem;
  padding: 0px;
  text-align: center;
}

/* styles contact details */
#contacts {
  padding: 0px;
  text-align: center;
  font-size: 1rem;
}

/* removes bottom gap */
.row {
  margin-bottom: 0px;
}
/************************************************************************* responsive breakpoints *************************************************************************/

/* Bootstrap: Small devices */
@media (min-width: 576px) {
}

/* accommodate materialize */
@media (min-width: 601px) {
  /************************************************************************* footer*/
  /* stlyes footer background */
  #socials {
    height: 120px;
  }

  /* styles icons */
  #icons {
    font-size: 2rem;
    margin-top: 35px;
  }

  /* styles contacts */
  #contacts {
    margin-top: 10px;
    font-size: 1.3rem;
  }
}

/* Bootstrap: Medium devices  */
@media (min-width: 768px) {
}

/* Bootstrap: Large devices */
@media (min-width: 992px) {
  /************************************************************************* title */
  /* styles main title */
  #mainTitle {
    text-align: left;
    display: inline;
  }

  /************************************************************************* top nav */
  /* bars button */
  .fas.fa-bars {
    display: none;
  }

  /* top nav size */
  nav {
    height: 10%;
  }

  /* designs links in top nav */
  .top-nav-links {
    font-size: 2rem;
    display: inline;
  }

  /* moves top nav links to the right */
  #topNavLinksContainer {
    float: right;
    list-style: inline;
  }

  /* puts top nav links on nav bar */
  ul {
    display: inline;
  }

  /* changes hover colour of sidenav */
  .top-nav li > a:hover {
    background-color: rgb(180, 180, 3);
  }

  /************************************************************************* side nav */
  /* increases size of side nav */
  .sidenav {
    width: 250px;
  }

  /************************************************************************* footer*/
  /* stlyes footer background */
  #socials {
    height: 130px;
  }

  /* styles icons */
  #icons {
    font-size: 2.4rem;
    margin-top: 40px;
  }

  /* styles contacts */
  #contacts {
    margin-top: 15px;
    font-size: 1.6rem;
  }
}

/* Bootstrap: Extra large devices */
@media (min-width: 1200px) {
  /************************************************************************* top nav */
  /* bars button */
  .fas.fa-bars {
    margin: 10px;
  }
}
