/* universal properties */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: "Scada", sans-serif;
}

/************************************************************************* top nav */

/* designs link pages in top nav */
.top-nav-links {
  visibility: hidden;
}

/* top nav size */
nav {
  height: 7%;
}

/* bars button */
.fas.fa-bars {
  font-size: 3rem;
  margin: 0px 5px 0px;
}

/************************************************************************* side nav */

/* centers side nav links in side nav */
#sideNavLinksContainer {
  padding-top: 100px;
}

/* changes hover colour of sidenav */
.sidenav li > a:hover {
  background-color: white;
}

/* designs link pages in side nav*/
.side-nav-links.black-text.waves-effect {
  font-size: 2rem;
  margin-top: 30px;
}

/* increases size of side nav */
.sidenav {
  width: 220px;
}

/************************************************************************* bootstrap breakpoints */

/* Small devices */
@media (min-width: 576px) {
}

/* Medium devices  */
@media (min-width: 768px) {
}

/* Large devices */
@media (min-width: 992px) {
  /************************************************************************* top nav */
  /* designs link pages in top nav */
  .top-nav-links {
    font-size: 2rem;
    visibility: visible;
  }

  /* top nav size */
  nav {
    height: 10%;
  }

  /* moves top nave links to the right */
  #topNavLinksContainer {
    float: right;
    list-style: inline;
  }

  /* bars button */
  .fas.fa-bars {
    margin: 5px;
  }
  /************************************************************************* side nav */

  /* increases size of side nav */
  .sidenav {
    width: 250px;
  }
}

/* Extra large devices */
@media (min-width: 1200px) {
}
