{% extends "base.html" %} {% block admin %} 

    <!-- admin-add movies: modal -->
    <!-- modal from materialize -->
    <div id="addMoives" class="modal">
        <div class="right-align">
            <i class="fas fa-times modal-close"></i> 
        </div>
        <div class="modal-content"> 
            <form method="POST" action="{{ url_for('admin_add_movie') }}" class="black-text">
                <div class="center">
                    <h4>Add Movie</h4>
                </div>
                <div class="form-item">
                    <label for="addMmovieName">Movie Name</label>
                    <input type="text" id="addMmovieName" name="addMmovieName" required>      
                </div>
                <div class="form-item">
                    <label for="addMoviePoster">Movie Image</label>
                    <input type="text" id="addMoviePoster" name="addMoviePoster" required>      
                </div>
                <div class="form-item">
                    <label for="addMovieRating">Movie Rating</label>
                    <input type="text" id="addMovieRating" name="addMovieRating" required>      
                </div>
                <div class="form-item">
                    <label for="addMovieDuration">Movie Duration</label>
                    <input type="text" id="addMovieDuration" name="addMovieDuration" required>      
                </div>    
                <div class="form-item">
                    <label for="addMovieGenre">Movie Genre</label>
                    <input type="text" id="addMovieGenre" name="addMovieGenre" required>      
                </div>
                <div class="form-item">
                    <label for="addMovieSynopsis">Movie Synopsis</label>
                    <input type="text" id="addMovieSynopsis" name="addMovieSynopsis" required>      
                </div>
                <div class="form-item">
                    <label for="addMovieCast">Movie Cast</label>
                    <input type="text" id="addMovieCast" name="addMovieCast" required>      
                </div>
                <div class="form-item">
                    <label for="addMovieDirector">Movie Director</label>
                    <input type="text" id="addMovieDirector" name="addMovieDirector" required>      
                </div>
                <div class="form-item">
                    <label for="addMovieWriter">Movie Writer</label>
                    <input type="text" id="addMovieWriter" name="addMovieWriter" required>      
                </div>
                <div class="form-item">
                    <label for="addMovieProducer">Movie Producer</label>
                    <input type="text" id="addMovieProducer" name="addMovieProducer" required>      
                </div>
                <div class="center">
                    <button type="submit" class="custom-btn btn btn-flat waves-effect waves-black deep-orange lighten-2 black-text">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>

    <!-- admin-add locations: modal -->
    <!-- modal from materialize -->
    <div id="addLocation" class="modal">
        <div class="right-align">
            <i class="fas fa-times modal-close"></i> 
        </div>
        <div class="modal-content"> 
            <form method="POST" action="{{ url_for('admin_add_location') }}" class="black-text">
                <div class="center">
                    <h4>Add Location</h4>
                </div>
                <div class="form-item">
                    <label for="addingLocations">Location Name</label>
                    <input type="text" id="addingLocations" name="addingLocations" required>      
                </div>
                <div class="center">
                    <button type="submit" class="custom-btn btn btn-flat waves-effect waves-black deep-orange lighten-2 black-text">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>

    <div class="center">
        <h2 id="admin-title">{{ page_title }}</h2>
    </div>

    <!-- cinemagic movies -->
    <h4 class="admin-subtitles">{{ movies_title }}</h4>
    <table class="responsive-table highlight">
        <thead>
            <tr>
                <th>Movie Name</th>
                <th>Moive image</th>
                <th id="ratings-header-padding">Rating</th>
                <th>Duration</th>
                <th>Genres</th>
                <th>Synopsis</th>
                <th>Cast</th>
                <th>Director</th>
                <th>Writer</th>
                <th>Producer</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movie_names %}
                <tr>
                    <td>{{ movie.movie_name }}</td>
                    <td><img class="admin-images" src="{{ movie.movie_poster }}" alt="A picture of a movie poster showing at Cinemagic."></td>
                    <td>{{ movie.rating }}</td>
                    <td>{{ movie.duration }}</td>
                    <td>{{ movie.genres }}</td>
                    <td>{{ movie.synopsis }}</td>
                    <td>{{ movie.cast }}</td>
                    <td>{{ movie.director }}</td>
                    <td>{{ movie.writer }}</td>
                    <td>{{ movie.producer }}</td>
                    <td>
                        <a class="admin-btn-change custom-btn btn waves-effect deep-orange lighten-2 black-text modal-trigger" href="#adminChangeMovie/{{ movie._id }}">CHANGE</a>                      
                    </td>
                    <td>
                        <a class="admin-btn-delete custom-btn btn waves-effect deep-orange lighten-2 black-text modal-trigger" href="#adminDeleteMovie/{{ movie._id }}">DELETE</a>
                    </td>
                </tr>

                <!-- admin-change movies: modal -->
                <!-- modal from materialize -->
                <div id="adminChangeMovie/{{ movie._id }}" class="modal">
                    <div class="right-align">
                        <i class="fas fa-times modal-close"></i> 
                    </div>
                    <div class="modal-content">   
                        <div class="center">
                            <h4>Change Movie Details</h4>
                        </div>
                        <form method="POST" action="{{ (url_for('admin_change_movie', movie_id=movie._id)) }}" class="black-text">
                            <div class="form-item">
                                <label for="changeMovieName">Movie Name</label>
                                <input value="{{ movie.movie_name }}" placeholder="{{ movie.movie_name }}" id="changeMovieName" name="changeMovieName" class="input-field" required>
                            </div>
                            <div class="form-item">
                                <label for="changeMoviePoster">Movie Image</label>
                                <input value="{{ movie.movie_poster }}" placeholder="{{ movie.movie_poster }}" id="changeMoviePoster" name="changeMoviePoster" class="input-field" required>
                            </div>                      
                            <div class="form-item">
                                <label for="changeMovieRating">Movie Rating</label>
                                <input value="{{ movie.rating }}" placeholder="{{ movie.rating }}" id="changeMovieRating" name="changeMovieRating" class="input-field" required>
                            </div>
                            <div class="form-item">
                                <label for="changeMovieDuration">Movie Duration</label>
                                <input value="{{ movie.duration }}" placeholder="{{ movie.duration }}" id="changeMovieDuration" name="changeMovieDuration" class="input-field" required>
                            </div>
                            <div class="form-item">
                                <label for="changeMovieGenre">Movie Genre</label>
                                <input value="{{ movie.genres }}" placeholder="{{ movie.genres }}" id="changeMovieGenre" name="changeMovieGenre" class="input-field" required>
                            </div>

                            <div class="form-item">
                                <label for="changeMovieSynopsis">Movie Synopsis</label>
                                <input value="{{ movie.synopsis }}" placeholder="{{ movie.synopsis }}" id="changeMovieSynopsis" name="changeMovieSynopsis" class="input-field" required>
                            </div>                          

                            <div class="form-item">
                                <label for="changeMovieDirector">Movie Director</label>
                                <input value="{{ movie.director }}" placeholder="{{ movie.director }}" id="changeMovieDirector" name="changeMovieDirector" class="input-field" required>
                            </div>
                            <div class="form-item">
                                <label for="changeMovieWriter">Movie Writer</label>
                                <input value="{{ movie.writer }}" placeholder="{{ movie.writer }}" id="changeMovieWriter" name="changeMovieWriter" class="input-field" required>
                            </div>
                            <div class="form-item">
                                <label for="changeMovieProducer">Movie Producer</label>
                                <input value="{{ movie.producer }}" placeholder="{{ movie.producer }}" id="changeMovieProducer" name="changeMovieProducer" class="input-field" required>
                            </div>
                            <div class="form-item">
                                <label for="changeMovieCast">Movie Cast</label>
                                <input value="{{ movie.cast }}" placeholder="{{ movie.cast }}" id="changeMovieCast" name="changeMovieCast" class="input-field" required>
                            </div>
                            <br>
                            <div class="center">
                                <button type="submit" class="confirm-btn custom-btn btn btn-flat waves-effect waves-black deep-orange lighten-2 black-text">CONFIRM</button>
                                <a class="cancel-btn custom-btn btn btn-flat waves-effect waves-black deep-orange lighten-2 black-text modal-close">CANCEL</a>                       
                            </div>
                        </form>  
                    </div>
                </div>
                
                <!-- admin-delete movies: modal -->
                <!-- modal from materialize -->
                <div id="adminDeleteMovie/{{ movie._id }}" class="confirm-delete modal ">
                    <div class="right-align">
                        <i class="fas fa-times modal-close"></i> 
                    </div>
                    <div class="modal-content center">                         
                        <h4>Delete Movie:<br><em><b>{{ movie.movie_name }}?</b></em></h4>
                        <a class="custom-btn modal-close btn btn-flat waves-effect waves-black red black-text darken-text-4 modal-close">NO</a>
                        <a href="{{ url_for('admin_delete_movie', movie_id=movie._id) }}" class="custom-btn modal-close btn btn-flat waves-effect waves-black green black-text darken-text-4">YES</a>                          
                    </div>
                </div>  
            {% endfor %}        
        </tbody>         
    </table>
    <br>
    <div class="center">
        <a class="custom-btn btn waves-effect deep-orange lighten-2 black-text modal-trigger" href="#addMoives">Add Movie</a>
    </div>
    <hr class="hr-admin">

    <!-- cinemagic locations -->
    <h4 class="admin-subtitles">{{ locations_title }}</h4>
    <table class="responsive-table highlight">
        <thead>
            <tr>
                <th>Location</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for location_name in location_names %}
                <tr>
                    <td>{{ location_name.location_name }}</td>
                    <td>
                        <a class="custom-btn btn waves-effect deep-orange lighten-2 black-text modal-trigger" href="#adminChangeLocation/{{ location_name._id }}">CHANGE</a>          
                    </td>
                    <td>
                        <a class="custom-btn btn waves-effect deep-orange lighten-2 black-text modal-trigger" href="#adminDeleteLocation/{{ location_name._id }}">DELETE</a>
                    </td>
                </tr>

                <!-- admin-change location: modal -->
                <!-- modal from materialize -->
                <div id="adminChangeLocation/{{ location_name._id }}" class="modal">
                    <div class="right-align">
                        <i class="fas fa-times modal-close"></i> 
                    </div>
                    <div class="modal-content">   
                        <div class="center">
                            <h4>Change Movie Details</h4>
                        </div>
                        <form method="POST" action="{{ (url_for('admin_change_location', location_name_id=location_name._id)) }}" class="black-text">
                            <div class="form-item">
                                <label for="changeLocation">Location Name</label>
                                <input value="{{ location_name.location_name }}" placeholder="{{ location_name.location_name }}" id="changeLocation" name="changeLocation" class="input-field" required>
                            </div>
                            <br>
                            <div class="center">
                                <button type="submit" class="confirm-btn custom-btn btn btn-flat waves-effect waves-black deep-orange lighten-2 black-text">CONFIRM</button>
                                <a class="cancel-btn custom-btn btn btn-flat waves-effect waves-black deep-orange lighten-2 black-text modal-close">CANCEL</a>                       
                            </div>
                        </form>  
                    </div>
                </div>

                <!-- admin-delete locations: modal -->
                <!-- modal from materialize -->
                <div id="adminDeleteLocation/{{ location_name._id }}" class="confirm-delete modal ">
                    <div class="right-align">
                        <i class="fas fa-times modal-close"></i> 
                    </div>
                    <div class="modal-content center">                         
                        <h4>Delete Location:<br><em><b>{{ location_name.location_name }}?</b></em></h4>
                        <a class="custom-btn modal-close btn btn-flat waves-effect waves-black red black-text darken-text-4 modal-close">NO</a>
                        <a href="{{ url_for('admin_delete_location', location_name_id=location_name._id) }}" class="custom-btn modal-close btn btn-flat waves-effect waves-black green black-text darken-text-4">YES</a>                          
                    </div>
                </div>  
            {% endfor %}        
        </tbody>         
    </table>
    <br>
    <div class="center">
        <a class="custom-btn btn waves-effect deep-orange lighten-2 black-text modal-trigger" href="#addLocation">Add Location</a>
    </div>
    <hr class="hr-admin">

    <!-- user signup info -->
    <h4 class="admin-subtitles">{{ users_title}}</h4>
    <table class="responsive-table highlight">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email Address</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.user}}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}        
        </tbody>         
    </table> 
    <br>
    <hr class="hr-admin">
    
    <!-- user bookings -->
    <h4 class="admin-subtitles">{{ bookings_title }}</h4>
    <table class="responsive-table highlight">
        <thead>
            <tr>
                <th>User</th>
                <th>Movie Name</th>
                <th>Ticket Quantity</th>
                <th>Date</th>
                <th>Location</th>               
            </tr>
        </thead>
        <tbody>
            {% for booking in booking_info %}
                <tr>
                    <td>{{ booking.booked_by }}</td>
                    <td>{{ booking.booked_movie }}</td>
                    <td>{{ booking.booked_ticket_quantity }}</td>
                    <td>{{ booking.booked_date }}</td>
                    <td>{{ booking.booked_location }}</td>
                </tr>
            {% endfor %}        
        </tbody>         
    </table>
    <br>
    <hr class="hr-admin">
    
    <!-- user movie reviews -->
    <h4 class="admin-subtitles">{{ users_reviews_title }}</h4>
    <table class="responsive-table highlight">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Moive Name</th>
                <th>User Review</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
                <tr>
                    <td>{{ review.user }}</td>              
                    <td>{{ review.reviewed_movie_name }}</td>
                    <td>{{ review.user_review }}</td>
                </tr>
            {% endfor %}
        </tbody> 
    </table>
    {% if args.num_results &gt; args.p_limit %}
        <ul class="pagination">
            {% if args.p_offset &gt; 0 %}
                <li class="waves-effect"><a href="{{ (url_for('admin')) }}"><i class="fas fa-angle-left"></i></a></li>
            {% endif %}
            <li class="waves-effect active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            {% if args.p_offset + args.p_limit &it; args.num_results  %}
                <li class="waves-effect"><a href="#!"><i class="fas fa-chevron-right"></i></a></li>
            {% endif %}
        </ul>    
    {% endif %}      
{% endblock %}
