{% extends "base.html" %} {% block admin %} 

    <div class="center">
        <h2 id="admin-title">{{ page_title }}</h2>
    </div>

    <!-- cinemagic movies -->
    <h4 class="admin-subtitles">{{ movies_title }}</h4>
    <table class="responsive-table highlight">
        <thead>
            <tr>
                <th>Movie Name</th>
                <th>Moive image</th>
                <th id="ratings-header-padding">Rating</th>
                <th>Duration</th>
                <th>Genres</th>
                <th>Cast</th>
                <th>Director</th>
                <th>Writer</th>
                <th>Producer</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movie_names %}
                <tr>
                    <td>{{ movie.movie_name }}</td>
                    <td><img class="admin-images" src="{{ movie.movie_poster }}" alt="A picture of a movie poster showing at Cinemagic."></td>
                    <td>{{ movie.rating }}</td>
                    <td>{{ movie.duration }}</td>
                    <td>{{ movie.genres }}</td>
                    <td>{{ movie.cast }}</td>
                    <td>{{ movie.director }}</td>
                    <td>{{ movie.writer }}</td>
                    <td>{{ movie.producer }}</td>
                </tr>
            {% endfor %}        
        </tbody>         
    </table>
    <br>
    <hr class="hr-admin">

    <!-- cinemagic locations -->
    <h4 class="admin-subtitles">{{ locations_title }}</h4>
    <table class="responsive-table highlight">
        <thead>
            <tr>
                <th>Locations</th>
            </tr>
        </thead>
        <tbody>
            {% for location_name in location_names %}
                <tr>
                    <td>{{ location_name.location_name }}</td>
                </tr>
            {% endfor %}        
        </tbody>         
    </table>
    <br>
    <hr class="hr-admin">

    <!-- user signup info -->
    <h4 class="admin-subtitles">{{ users_title}}</h4>
    <table class="responsive-table highlight">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email Address</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.user}}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.pwd }}</td>
                </tr>
            {% endfor %}        
        </tbody>         
    </table> 
    <br>
    <hr class="hr-admin">
    
    <!-- user bookings -->
    <h4 class="admin-subtitles">{{ bookings_title }}</h4>
    <table class="responsive-table highlight">
        <thead>
            <tr>
                <th>User</th>
                <th>Movie Name</th>
                <th>Ticket Quantity</th>
                <th>Date</th>
                <th>Location</th>               
            </tr>
        </thead>
        <tbody>
            {% for booking in booking_info %}
                <tr>
                    <td>{{ booking.booked_by }}</td>
                    <td>{{ booking.booked_movie }}</td>
                    <td>{{ booking.booked_ticket_quantity }}</td>
                    <td>{{ booking.booked_date }}</td>
                    <td>{{ booking.booked_location }}</td>
                </tr>
            {% endfor %}        
        </tbody>         
    </table>
    <br>
    <hr class="hr-admin">
    
    <!-- user movie reviews -->
    <h4 class="admin-subtitles">{{ users_reviews_title }}</h4>
    <table class="responsive-table highlight">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Moive Name</th>
                <th>User Review</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
                <tr>
                    <td>{{ review.user }}</td>              
                    <td>{{ review.reviewed_movie_name }}</td>
                    <td>{{ review.user_review }}</td>
                </tr>
            {% endfor %}        
        </tbody>         
    </table>
         
{% endblock %}
