{% extends "base.html" %}
{% block change_booking %}

    <form id="changeForm" method="POST" action="{{ url_for('change_booking', booked_details_id=bookings._id) }}" class="black-text">
        <h4 class="modal-titles center">Change Tickets</h4>
        <br>
        <div class="form-item">
            <label for="bookedMovie"></label>              
            <select id="bookedMovie" name="bookedMovie" class="input-field" required>
                <option value="" disabled selected>Select Movie</option>
                {% for movie_name in movie_names %}
                    <option value="{{ movie_name.movie_name }}">{{ movie_name.movie_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-item">
            <label for="ticketQuantity">Ticket Quantity</label>
            <input type="number" id="ticketQuantity" name="ticketQuantity" min="1" required>      
        </div>
        <div class="form-item">
            <label for="date">Date</label>
            <input id="date" name="date" type="text" class="datepicker" required>                    
        </div>                                
        <div class="form-item">
            <label for="location">Location</label>                   
            <select id="location" name="location" class="input-field select-boxes" required>
                <option value="" disabled selected></option>
                {% for location_name in location_names %}
                    <option value="{{ location_name.location_name }}">{{ location_name.location_name }}</option>
                {% endfor %}
            </select>                      
        </div>
        <br>
        <div class="center">
            <button type="submit" class="btn btn-flat waves-effect waves-black yellow black-text darken-text-4 booking-btn">CHANGE BOOKING</button>
        </div>
    </form>   

{% endblock %}
