{% extends "base.html" %} 
{% block home %}

    <div class="center">
        <h2>{{ page_title }}</h2>
    </div>
    <div class="container">
        <div class="row">
        <!-- carousel from materialize -->          
            <div class="col s12 carousel carousel-slider center">
                <div class="center carousel-fixed-item">
                    <a class="booking-btn btn waves-effect yellow black-text darken-text-4 modal-trigger" href="#modal1">BOOK NOW</a>
                </div>            
                <!-- all movie posters -->
                {% for movie in movie_names %}
                    <figure>
                        <a class="carousel-item" href="#{{ movie.movie_poster }}">
                            <img src="{{ movie.movie_poster }}" alt="A picture of a movie poster showing at Cinemagic.">
                        </a>
                    </figure>
                {% endfor %}
            </div>
        </div>
    </div>

   <!-- book tickets: modal -->
    <!-- modal from materialize -->
    <div id="modal1" class="modal">
        <div class="right-align">
           <i class="fas fa-times modal-close"></i> 
        </div>
        <div class="modal-content">       
            <form method="POST" action="{{ url_for('home') }}" class="black-text">
                <h4 class="modal-titles center">Book Tickets</h4>
                <div class="form-item">
                    <label for="bookedMovie"></label>              
                    <select id="bookedMovie" name="bookedMovie" class="input-field" required>
                        <option value="" disabled selected>Select Movie</option>
                        {% for movie_name in movie_names %}
                            <option value="{{ movie_name.movie_name }}">{{ movie_name.movie_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-item">
                    <label for="ticketQuantity">Ticket Quantity</label>
                    <input type="number" id="ticketQuantity" name="ticketQuantity" min="1" required>      
                </div>
                <div class="form-item">
                    <label for="date">Date</label>
                    <input id="date" name="date" type="text" class="datepicker" required>                    
                </div>                                
                <div class="form-item">
                    <label for="location">Location</label>                   
                    <select id="location" name="location" class="input-field select-boxes" required>
                        <option value="" disabled selected></option>
                        {% for location_name in location_names %}
                            <option value="{{ location_name.location_name }}">{{ location_name.location_name }}</option>
                        {% endfor %}
                    </select>                      
                </div>
                <div class="center">
                    <button type="submit" class="btn btn-flat waves-effect waves-black yellow black-text darken-text-4 booking-btn">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>

    <br>
    <div class="center">
        <h3>{{ page_subtitle }}</h3>
    </div>
    <br>

    {% for movie in movie_names %}
        <!-- all movies and reviews -->
        <div id="movieReviews">          
            <div class="row">            
                <h4 id="{{ movie.movie_poster }}" class="movie-titles center col s12">{{movie.movie_name}}</h4>                    
                <div class="flip-stars star-average center col s12">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                {% if loop.index % 2 !=0 %}  
                    <figure id="reviews-img-position" class="col s5">       
                        <img class="review-pictures" src="{{ movie.movie_poster }}" alt="A picture of a movie poster called '{{movie.movie_name}}' showing at Cinemagic.">
                    </figure> 
                    <div id="review-box" class="col s7">
                        <h6 class="user-review-title center">Reveiws</h6>
                        {% for review in reviews %}
                            <p>{{ review.reviewed_movie_name }}</p>
                            <p>{{ review.star_rating_review }}</p>
                            <p>{{ review.user_review }}</p>
                            <p><b><i>~{{ review.user }}</i></b></p>
                        {% endfor %}            
                    </div>
                {% else %}  
                    <div id="review-box" class="col s7">
                        <h6 class="user-review-title center">Reveiws</h6>
                        {% for review in reviews %}
                            <p>{{ review.reviewed_movie_name }}</p>
                            <p>{{ review.star_rating_review }}</p>
                            <p>{{ review.user_review }}</p>
                            <p><b><i>~{{ review.user }}</i></b></p>
                        {% endfor %}            
                    </div>                
                    <figure id="reviews-img-position" class="col s5">       
                        <img class="review-pictures" src="{{ movie.movie_poster }}" alt="A picture of a movie poster called '{{movie.movie_name}}' showing at Cinemagic.">
                    </figure> 
                {% endif %}
            </div>

            {% if loop.index != 10 %}
                <hr class="hr-line">
            {% endif %}            
        </div>
    {% endfor %}

    <div class="center">
        <a class="btn waves-effect yellow black-text darken-text-4 booking-btn modal-trigger" href="#modal1">BOOK NOW</a>
    </div>

{% endblock %}
