{% extends "base.html" %} {% block home %}

    <h2 id="homeTitle">Movies</h2>

    <!-- carousel from materialize -->
    <div class="carousel carousel-slider center">
        <!-- fixed review button -->
        <div class="carousel-fixed-item center">
            <a class="btn waves-effect yellow black-text darken-text-4 reviews">Reviews</a>
        </div>
        <!-- dog movie -->
        <a class="carousel-item" href="#one!">
            <img src="static/images/dog.PNG" alt="A picture of a movie poster showing a dog.">
        </a>
        <!-- handholding movie -->
        <a class="carousel-item" href="#two!">
            <img src="static/images/handholding.PNG" alt="A picture of a movie poster showing holding hands.">
        </a>
        <!-- survival movie -->
        <a class="carousel-item" href="#three!">
            <img src="static/images/survival.PNG" alt="A picture of a movie poster showing a pair of hands grabbing onto land.">
        </a>     
        <!-- rose movie -->
        <a class="carousel-item" href="#five!">
            <img src="static/images/rose.PNG" alt="A picture of a movie poster showing a blood covered rose.">
        </a>
        <!-- moon movie -->
        <a class="carousel-item" href="#four!">
            <img src="static/images/moon.PNG" alt="A picture of a movie poster showing a person and the moon.">
        </a>
        <!-- skull movie -->
        <a class="carousel-item" href="#seven!">
            <img src="static/images/skull.PNG" alt="A picture of a movie poster showing a skull.">
        </a>
        <!-- woman movie -->
        <a class="carousel-item" href="#three!">
            <img src="static/images/woman.PNG" alt="A picture of a movie poster showing a woman.">
        </a>  
        <!-- drowning movie -->
        <a class="carousel-item" href="#seven!">
            <img src="static/images/drowning.PNG" alt="A picture of a movie poster showing someone drowning.">
        </a>
        <!-- man movie -->
        <a class="carousel-item" href="#three!">
            <img src="static/images/man.PNG" alt="A picture of a movie poster showing a man.">
        </a>   
        <!-- seaport movie -->
        <a class="carousel-item" href="#six!">
            <img src="static/images/seaport.PNG" alt="A picture of a movie poster showing a a person at sea.">
        </a>
    </div>

{% endblock %}
