{% extends "base.html" %} {% block home %}

    <div class="center">
        <h2>Movies</h2>
    </div>

<!-- carousel from materialize -->
    <div class="carousel carousel-slider center">
        <!-- fixed review button -->
        <div class="carousel-fixed-item center">
            <a class="btn waves-effect yellow black-text darken-text-4 reviews-btn">Reviews</a>
        </div>
        <!-- drowning movie -->
        <figure>
            <a class="carousel-item" href="#seven!">
                <img src="static/images/drowning.PNG" alt="A picture of a movie poster showing someone drowning.">
            </a>
        </figure>
        <!-- dog movie -->
        <figure> 
            <a class="carousel-item" href="#one!">        
                <img src="static/images/dog.PNG" alt="A picture of a movie poster showing a dog.">
            </a>
        </figure>
        <!-- handholding movie -->
        <figure>
            <a class="carousel-item" href="#two!">
                <img src="static/images/handholding.PNG" alt="A picture of a movie poster showing holding hands.">
            </a>
        </figure>
        <!-- survival movie -->
        <figure>
            <a class="carousel-item" href="#three!">
                <img src="static/images/survival.PNG" alt="A picture of a movie poster showing a pair of hands grabbing onto land.">
            </a>     
        </figure>
        <!-- rose movie -->
        <figure>
            <a class="carousel-item" href="#five!">
                <img src="static/images/rose.PNG" alt="A picture of a movie poster showing a blood covered rose.">
            </a>
        </figure>
        <!-- moon movie -->
        <figure>
            <a class="carousel-item" href="#four!">
                <img src="static/images/moon.PNG" alt="A picture of a movie poster showing a person and the moon.">
            </a>
        </figure>
        <!-- woman movie -->
        <figure>
            <a class="carousel-item" href="#three!">
                <img src="static/images/woman.PNG" alt="A picture of a movie poster showing a woman.">
            </a> 
        </figure>
        <!-- skull movie -->
        <figure>
            <a class="carousel-item" href="#seven!">
                <img src="static/images/skull.PNG" alt="A picture of a movie poster showing a skull.">
            </a>
        </figure>
        <!-- seaport movie -->
        <figure>
            <a class="carousel-item" href="#six!">
                <img src="static/images/seaport.PNG" alt="A picture of a movie poster showing a a person at sea.">
            </a>
        </figure>
        <!-- man movie -->
        <figure>
            <a class="carousel-item" href="#three!">
                <img src="static/images/man.PNG" alt="A picture of a movie poster showing a man.">
            </a>   
        </figure>
    </div>

    <div class="center">
        <a class="booking-btn col s12 btn waves-effect yellow black-text darken-text-4">BOOK NOW</a>
    </div>

<!-- modal from materialize -->
    <div id="modal1" class="modal right-align">
        <i class="fas fa-times modal-close"></i>
        <div class="modal-content center">       
            <form action="#">
                <h4 class="modal-title">My Rating</h4>
<!-- select dropdown from materialize -->
                <div class="select-box input-field col s12">
                    <select id="selectedMovie" name="selectedMovie">
                        <option value="" disabled selected>Select Movie</option>
                        <option value="1">Submerged</option>
                        <option value="2">Roldo</option>
                        <option value="3">Bitter Sweet</option>
                        <option value="4">Survivalist Returns</option>
                        <option value="5">Death by Rose</option>
                        <option value="6">The Lost Galaxy</option>
                        <option value="7">Serayah</option>
                        <option value="8">Broken</option>
                        <option value="9">Hallow Winds</option>
                        <option value="10">S'Yan</option>
                    </select>
                    <label for="selectedMovie"></label>
                </div>
                <div class="flip-stars">
                    <input class="radio-btn five-stars" id="star-5" type="radio" name="starRating"/>
                    <label class="star five-stars fas fa-star" for="star-5"></label>

                    <input class="radio-btn" id="star-4" type="radio" name="starRating"/>
                    <label class="star fas fa-star" for="star-4"></label>

                    <input class="radio-btn" id="star-3" type="radio" name="starRating"/>
                    <label class="star fas fa-star" for="star-3"></label>

                    <input class="radio-btn" id="star-2" type="radio" name="starRating"/>
                    <label class="star fas fa-star" for="star-2"></label>

                    <input class="radio-btn" id="star-1" type="radio" name="starRating"/>
                    <label class="star one-star fas fa-star" for="star-1"></label>
                </div>

                <h4 class="modal-title">My Review</h4>
                <label for="commentBox"></label>
                <textarea name="commentBox" id="commentBox"></textarea>   
                <a type="submit" href="#!" class="modal-close btn btn-flat waves-effect waves-black yellow black-text darken-text-4 booking-btn">SUBMIT</a>
            </form>
        </div>
    </div>

<!-- reviews -->
    <div class="center">
        <h3>REVIEWS</h3>
    </div>

    <!-- drowning review -->
    <h4>Submerged</h4>
    <div class="container movie-review"> 
        <div class="row">
            <figure class="col s6">       
                <img class="review-pictures" src="static/images/drowning.PNG" alt="A picture of a movie poster showing someone drowning.">
            </figure>
            <div class="col s6 star-review">
                <div class="flip-stars center">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>                       
                <div class="review-box"></div>
                <div class="center">
                    <a class="btn waves-effect yellow black-text darken-text-4 booking-btn">BOOK NOW</a>
                </div>
                <div class="center">
                    <a class="comments-btn col s12 btn waves-effect yellow black-text darken-text-4 waves-light btn modal-trigger" href="#modal1">LEAVE A REVIEW</a>
                </div>
            </div>          
        </div>
        <hr>      
    </div>

    <!-- dog review -->
    <h4>Roldo</h4>
    <div class="container movie-review"> 
        <div class="row">
            <figure class="col s6">       
                <img class="review-pictures" src="static/images/dog.PNG" alt="A picture of a movie poster showing a dog.">
            </figure>
            <div class="col s6 star-review">
                <div class="flip-stars center">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>                       
                <div class="review-box"></div>
                <div class="center">
                    <a class="btn waves-effect yellow black-text darken-text-4 booking-btn">BOOK NOW</a>
                </div>
                <div class="center">
                    <a class="comments-btn col s12 btn waves-effect yellow black-text darken-text-4 waves-light btn modal-trigger" href="#modal1">LEAVE A REVIEW</a>
                </div>
            </div>          
        </div>
        <hr>      
    </div>

    <!-- handholding review -->
    <h4>Bitter Sweet</h4>
    <div class="container movie-review"> 
        <div class="row">
            <figure class="col s6">       
                <img class="review-pictures" src="static/images/handholding.PNG" alt="A picture of a movie poster showing holding hands.">
            </figure>
            <div class="col s6 star-review">
                <div class="flip-stars center">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>                       
                <div class="review-box"></div>
                <div class="center">
                    <a class="btn waves-effect yellow black-text darken-text-4 booking-btn">BOOK NOW</a>
                </div>
                <div class="center">
                    <a class="comments-btn col s12 btn waves-effect yellow black-text darken-text-4 waves-light btn modal-trigger" href="#modal1">LEAVE A REVIEW</a>
                </div>
            </div> 
        </div>
        <hr>      
    </div>

    <!-- survival review -->
    <h4>Survivalist Returns</h4>
    <div class="container movie-review"> 
        <div class="row">
            <figure class="col s6">       
                <img class="review-pictures" src="static/images/survival.PNG" alt="A picture of a movie poster showing a pair of hands grabbing onto land.">
            </figure>
            <div class="col s6 star-review">
                <div class="flip-stars center">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>                       
                <div class="review-box"></div>
                <div class="center">
                    <a class="btn waves-effect yellow black-text darken-text-4 booking-btn">BOOK NOW</a>
                </div>
                <div class="center">
                    <a class="comments-btn col s12 btn waves-effect yellow black-text darken-text-4 waves-light btn modal-trigger" href="#modal1">LEAVE A REVIEW</a>
                </div>
            </div>          
        </div>
        <hr>      
    </div>

    <!-- rose review -->
    <h4>Death by Rose</h4>
    <div class="container movie-review"> 
        <div class="row">
            <figure class="col s6">       
                <img class="review-pictures" src="static/images/rose.PNG" alt="A picture of a movie poster showing a blood covered rose.">
            </figure>
            <div class="col s6 star-review">
                <div class="flip-stars center">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>                       
                <div class="review-box"></div>
                <div class="center">
                    <a class="btn waves-effect yellow black-text darken-text-4 booking-btn">BOOK NOW</a>
                </div>
                <div class="center">
                    <a class="comments-btn col s12 btn waves-effect yellow black-text darken-text-4 waves-light btn modal-trigger" href="#modal1">LEAVE A REVIEW</a>
                </div>
            </div>          
        </div>
        <hr>      
    </div>

    <!-- moon review -->
    <h4>The Lost Galaxy</h4>
    <div class="container movie-review"> 
        <div class="row">
            <figure class="col s6">       
                <img class="review-pictures" src="static/images/moon.PNG" alt="A picture of a movie poster showing a person and the moon.">
            </figure>
            <div class="col s6 star-review">
                <div class="flip-stars center">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>                       
                <div class="review-box"></div>
                <div class="center">
                    <a class="btn waves-effect yellow black-text darken-text-4 booking-btn">BOOK NOW</a>
                </div>
                <div class="center">
                    <a class="comments-btn col s12 btn waves-effect yellow black-text darken-text-4 waves-light btn modal-trigger" href="#modal1">LEAVE A REVIEW</a>
                </div>
            </div>          
        </div>
        <hr>      
    </div>

    <!-- woman review -->
    <h4>Serayah</h4>
    <div class="container movie-review"> 
        <div class="row">
            <figure class="col s6">       
                <img class="review-pictures" src="static/images/woman.PNG" alt="A picture of a movie poster showing a woman.">
            </figure>
            <div class="col s6 star-review">
                <div class="flip-stars center">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>                       
                <div class="review-box"></div>
                <div class="center">
                    <a class="btn waves-effect yellow black-text darken-text-4 booking-btn">BOOK NOW</a>
                </div>
                <div class="center">
                    <a class="comments-btn col s12 btn waves-effect yellow black-text darken-text-4 waves-light btn modal-trigger" href="#modal1">LEAVE A REVIEW</a>
                </div>
            </div>          
        </div>
        <hr>      
    </div>

    <!-- skull review -->
    <h4>Broken</h4>
    <div class="container movie-review"> 
        <div class="row">
            <figure class="col s6">       
                <img class="review-pictures" src="static/images/skull.PNG" alt="A picture of a movie poster showing a skull.">
            </figure>
            <div class="col s6 star-review">
                <div class="flip-stars center">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>                       
                <div class="review-box"></div>
                <div class="center">
                    <a class="btn waves-effect yellow black-text darken-text-4 booking-btn">BOOK NOW</a>
                </div>
                <div class="center">
                    <a class="comments-btn col s12 btn waves-effect yellow black-text darken-text-4 waves-light btn modal-trigger" href="#modal1">LEAVE A REVIEW</a>
                </div>
            </div>          
        </div>
        <hr>      
    </div>

    <!-- seaport review -->
    <h4>Hallow Winds</h4>
    <div class="container movie-review"> 
        <div class="row">
            <figure class="col s6">       
                <img class="review-pictures" src="static/images/seaport.PNG" alt="A picture of a movie poster showing a a person at sea.">
            </figure>
            <div class="col s6 star-review">
                <div class="flip-stars center">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>                       
                <div class="review-box"></div>
                <div class="center">
                    <a class="btn waves-effect yellow black-text darken-text-4 booking-btn">BOOK NOW</a>
                </div>
                <div class="center">
                    <a class="comments-btn col s12 btn waves-effect yellow black-text darken-text-4 waves-light btn modal-trigger" href="#modal1">LEAVE A REVIEW</a>
                </div>
            </div>          
        </div>
        <hr>      
    </div>

    <!-- man review -->
    <h4>S'Yan</h4>
    <div class="container movie-review"> 
        <div class="row">
            <figure class="col s6">       
                <img class="review-pictures" src="static/images/man.PNG" alt="A picture of a movie poster showing a man.">
            </figure>
            <div class="col s6 star-review">
                <div class="flip-stars center">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>                       
                <div class="review-box"></div>
                <div class="center">
                    <a class="btn waves-effect yellow black-text darken-text-4 booking-btn">BOOK NOW</a>
                </div>
                <div class="center">
                    <a class="comments-btn col s12 btn waves-effect yellow black-text darken-text-4 waves-light btn modal-trigger" href="#modal1">LEAVE A REVIEW</a>
                </div>
            </div>          
        </div>
        <hr>      
    </div>

{% endblock %}
