{% extends "base.html" %} {% block login %} 

    <div class="login center black-text">
        <h2>{{ page_title }}</h2>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card purple lighten-3">
                <div class="card-content">
                    <form method="POST" action="{{ url_for('login') }}">
                
	                    <label for="username" class="black-text">username</label>
	                    <input id="username" name="username" type="text" required>

                        <label for="password" class="black-text">password</label>
                        <input id="password" name="password" type="password" required>

                        <div class="center">
                            <button type="submit" class="custom-btn modal-close btn btn-flat waves-effect waves-black purple lighten-1 black-text">LOG IN</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="center">
        <p>Don't have an account?</p>
        <a href="{{ url_for('signup') }}">Sign Up</a>
    </div>

{% endblock %}
