{% extends "base.html" %}
{% block my_bookings %}

    <!-- leave a review: modal -->
    <!-- modal from materialize -->
    <div id="modal2" class="modal right-align">
        <i class="fas fa-times modal-close"></i>
        <div class="modal-content center">       
            <form action="#">  

                <!-- select dropdown from materialize -->
                <div class="select-box input-field col s12">
                    <select id="selectedMovie" name="selectedMovie">
                        <option value="" disabled selected>Select Movie</option>
                        {% for movie_name in movie_names %}
                            <option value="{{ movie_name.movie_name }}">{{ movie_name.movie_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="selectedMovie"></label>
                </div>

                <h4 class="modal-title">My Rating</h4> 
                <div class="flip-stars">
                    <input class="radio-btn five-stars" id="star-5" type="radio" name="starRating"/>
                    <label class="star five-stars fas fa-star" for="star-5"></label>

                    <input class="radio-btn" id="star-4" type="radio" name="starRating"/>
                    <label class="star fas fa-star" for="star-4"></label>

                    <input class="radio-btn" id="star-3" type="radio" name="starRating"/>
                    <label class="star fas fa-star" for="star-3"></label>

                    <input class="radio-btn" id="star-2" type="radio" name="starRating"/>
                    <label class="star fas fa-star" for="star-2"></label>

                    <input class="radio-btn" id="star-1" type="radio" name="starRating"/>
                    <label class="star one-star fas fa-star" for="star-1"></label>
                </div>

                <h4 class="modal-title">My Review</h4>
                <label for="commentBox"></label>
                <textarea name="commentBox" id="commentBox"></textarea>   
                <button type="submit" class="modal-close btn btn-flat waves-effect waves-black yellow black-text darken-text-4 booking-btn">SUBMIT</button>
            </form>
        </div>
    </div>

    <!-- book tickets: modal -->
    <!-- modal from materialize -->
    <div id="modal1" class="modal">
        <div class="right-align">
           <i class="fas fa-times modal-close"></i> 
        </div>
        <div class="modal-content">       
            <form action="#">
                <h4 class="modal-title center">Book Tickets</h4>

                <!-- select dropdown from materialize -->
                <div class="select-box input-field col s12">
                    <label for="bookedMovie"></label>
                    <select id="bookedMovie" name="bookedMovie"> 
                        <option value="" disabled selected>Select Movie</option>                    
                        {% for movie_name in movie_names %}
                            <option value="{{ movie_name.movie_name }}">{{ movie_name.movie_name }}</option>
                        {% endfor %}
                    </select>  
                </div>

                <div class="select-box input-field col s12">
                    <label for="ticketQuantity" class="black-text">Ticket Quantity</label>
                    <input type="number" id="ticketQuantity" name="ticketQuantity" min="1" required>      
                </div>

                <div class="select-box input-field col s12">
                    <h6 class="left">Date</h6>
                    <label for="date"></label>
                    <input id="date" name="date" type="text" class="datepicker">                    
                </div>   

                <div class="select-box input-field col s12">
                    <label for="location"></label>
                    <select id="location" name="location">  
                        <option value="" disabled selected>Location</option> 
                        {% for location_name in location_names %}
                            <option value="{{ location_name.location_name }}">{{ location_name.location_name }}</option>
                        {% endfor %}
                    </select>         
                </div>

                <div class="center">
                    <button type="submit" class="modal-close btn btn-flat waves-effect waves-black yellow black-text darken-text-4 booking-btn">SUBMIT</button>
                </div>

            </form>
        </div>
    </div>

    <!-- are you sure: modal -->
    <!-- modal from materialize -->
    <div id="modal3" class="modal right-align">
        <i class="fas fa-times modal-close"></i>
        <div class="modal-content center">       
            <form action="#">  
                <h4 class="modal-title">Delete <br>(Insert movie name here) ?</h4>
                <button type="submit" class="modal-close btn btn-flat waves-effect waves-black red black-text darken-text-4 booking-btn">NO</button>
                <button type="submit" class="modal-close btn btn-flat waves-effect waves-black green black-text darken-text-4 booking-btn">YES</button>         
            </form>
        </div>
    </div>

    <h2 class="center">My Bookings</h2>

    <h4>Submerged</h4>
    <div class="container">
        <div class="full-my-booking row">

            <figure class="col s6">       
                <img class="my-booking-pictures" src="static/images/drowning.PNG" alt="A picture of a movie poster showing someone drowning.">
            </figure>   

            <div class="container">
                <div class="full-my-booking row">
                    <div class="col s6">  
                        <div class="container">

                            <div class="row">
                                <div class="center col 12">
                                    <a class="my-bookings-btn btn waves-effect yellow black-text darken-text-4 btn">CHANGE</a>
                                </div>
                            </div>

                            <div class="row">                            
                                <div class="center col 12">
                                    <a class="my-bookings-btn btn waves-effect yellow black-text darken-text-4 btn modal-trigger" href="#modal3">DELETE</a>
                                </div>
                            </div> 

                            <div class="row">
                                <div class="center col 12">
                                    <a class="my-bookings-btn comments-btn waves-effect yellow black-text darken-text-4 btn modal-trigger" href="#modal2">LEAVE A REVIEW</a>
                                </div>
                            </div> 

                        </div>       
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr>

    <div class="center">
        <a class="booking-btn col s12 btn waves-effect yellow black-text darken-text-4 modal-trigger" href="#modal1">BOOK NOW</a>
    </div>

{% endblock %}