{% extends "base.html" %}
{% block my_bookings %}

    <!-- leave a review: modal -->
    <!-- modal from materialize -->
    <div id="modal2" class="modal right-align">
        <i class="fas fa-times modal-close"></i>
        <div class="modal-content center">       
            <form method="POST" action="{{ url_for('my_bookings') }}">  

                <!-- select dropdown from materialize -->
                <div class="form-item input-field">
                    <select id="selectedMovie" name="selectedMovie" required>
                        <option value="" disabled selected>Select Movie</option>
                        {% for movie_name in movie_names %}
                            <option value="{{ movie_name.movie_name }}">{{ movie_name.movie_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="selectedMovie"></label>
                </div>

                <h4 class="modal-titles">My Rating</h4> 
                <div class="flip-stars">
                    <input class="radio-btn five-stars" id="star-5" type="radio" name="starRating" required/>
                    <label class="star five-stars fas fa-star" for="star-5"></label>

                    <input class="radio-btn" id="star-4" type="radio" name="starRating"/>
                    <label class="star fas fa-star" for="star-4"></label>

                    <input class="radio-btn" id="star-3" type="radio" name="starRating"/>
                    <label class="star fas fa-star" for="star-3"></label>

                    <input class="radio-btn" id="star-2" type="radio" name="starRating"/>
                    <label class="star fas fa-star" for="star-2"></label>

                    <input class="radio-btn" id="star-1" type="radio" name="starRating"/>
                    <label class="star one-star fas fa-star" for="star-1"></label>
                </div>

                <h4 class="modal-titles">My Review</h4>
                <label for="commentBox"></label>
                <textarea name="commentBox" id="commentBox" required></textarea>   
                <button type="submit" class="btn btn-flat waves-effect waves-black yellow black-text darken-text-4 booking-btn">SUBMIT</button>
            </form>
        </div>
    </div>

    <h2 class="center">{{ page_title }}</h2>
    <br>

    {% for booking in booking_info %}
        <!-- are you sure: modal -->
        <!-- modal from materialize -->
        <div id="modal3" class="modal right-align">
            <i class="fas fa-times modal-close"></i>
            <div class="modal-content center">       
                <form method="POST" action="{{ url_for('my_bookings') }}">  
                    <h4 class="modal-titles">Delete Movie:<br>{{ booking.booked_movie }}?</h4>
                    <button type="submit" class="booking-btn modal-close btn btn-flat waves-effect waves-black red black-text darken-text-4">NO</button>
                    <button type="submit" class="booking-btn modal-close btn btn-flat waves-effect waves-black green black-text darken-text-4">YES</button>         
                </form>
            </div>
        </div>

        <!-- full booked movie details  --> 
        <div> 
            <h4 class="movie-titles">{{ booking.booked_movie }}</h4>
        </div>

        <div class="container">
            <div class="row">
                <!-- booked movie text  -->
                <div class="col s6 booked-details"> 
                    <ul>
                        <li><b>Ticket Quantity: </b>{{ booking.booked_ticket_quantity }}</li>
                        <li><b>Date: </b>{{ booking.booked_date }}</li>
                        <li><b>Location: </b>{{ booking.booked_location }}</li>
                        <li><b>Owner: </b>{{ booking.booked_by }}</li>
                    </ul>
                </div>
                <!-- change and delete buttons -->
                <div class="col s6 center">
                    <div class="col s12">
                        <a class="change-btn btn waves-effect yellow black-text darken-text-4" href="{{ url_for('change_booking', booked_details_id=booking._id) }}">CHANGE</a>
                    </div>
                    <div class="col s12">
                        <button class="delete-btn btn waves-effect yellow black-text darken-text-4 modal-trigger" href="#modal3">DELETE</button>
                    </div>             
                </div> 
            </div>
            <!-- leave a reivew button -->
            <div class="row center">
                <div class="col s12">
                    <button class="leave-a-review-btn btn waves-effect yellow black-text darken-text-4 modal-trigger" href="#modal2">LEAVE A REVIEW</button>  
                </div>
            </div>
        </div>
        <hr class="hr-line">
    {% endfor %}

{% endblock %}
